<div class="container-fluid footer mt-5">
  <div class="row">

<!-- nom -->
    <div class="col-lg-6">
      <h1>StonksMining</h1>
      <p>Miner bien, miner stonks </p>
    </div>
    <!-- nav -->
    <div class="col-lg-4">
      <a routerLink="">Accueil</a>
      <a routerLink="menu">Menu</a>
      <a routerLink="about">A propos</a>
      <a routerLink="contact">Contact</a>
    </div>

    <!--reseaux sociaux -->

    <div class="col-lg-2">
      <a href="#" target="_blank"><i class="bi bi-snapchat"></i></a>
      <a href="#" target="_blank"><i class="bi bi-whatsapp"></i></a>
      <a href="#" target="_blank"><i class="bi bi-facebook"></i></a>
      <a href="#" target="_blank"><i class="bi bi-instagram"></i></a>
    </div>


  </div>
</div>
