<div class="container mt-5 mb-5 ">

  <div class="row">

    <div class="col-lg-6" *ngIf="menuData">
      <a routerLink="" class="btn btn-sm btn-dark mb-3">Retour</a>
      <img src="{{menuData[0].DownloadImg}}" alt="" width="100%">
      <h1 class="mt-3">{{menuData[0].DownloadName}}</h1>
      <p>{{menuData[0].DownloadLink}}</p>
      <p>{{menuData[0].miningPrice | currency:'EUR'}}</p>
    </div>

    <div class="col-lg-6">
      <h1>Distribution : {{menuData[0].DownloadName}} </h1>
      <ng-container>

        <button class="btn btn-md btn-dark mt-3">Télécharger </button>

      </ng-container>


    </div>

  </div>

</div>
