<div class="container-fluid">
  <div class="row">


    <div class="col-md-6 left">
<br>
      <div class="container">
      <select class="form-select" aria-label="Default select example">
        <option selected>Open this select menu</option>
        <option value="1" id="myButton" >One</option>
        <option value="2">Two</option>
        <option value="3">Three</option>
      </select>
        <br>
        <button type="button" class="btn btn-primary">Primary</button>
      </div>
      <br>
      <div class="container">
        <select class="form-select" aria-label="Default select example">
          <option selected>Open this select menu</option>
          <option value="1">One</option>
          <option value="2">Two</option>
          <option value="3">Three</option>
        </select>
        <br>
        <button type="button" class="btn btn-primary">Primary</button>
      </div>
      <br>
      <div class="container">
        <select class="form-select" aria-label="Default select example">
          <option selected>Open this select menu</option>
          <option value="1">One</option>
          <option value="2">Two</option>
          <option value="3">Three</option>
        </select>
        <br>
        <button type="button" class="btn btn-primary">Primary</button>
      </div>
      <br>
      <div class="container">
        <select class="form-select" aria-label="Default select example">
          <option selected>Open this select menu</option>
          <option value="1">One</option>
          <option value="2">Two</option>
          <option value="3">Three</option>
        </select>
        <br>
        <button type="button" class="btn btn-primary">Primary</button>
      </div>
      <br>
      <div class="container">
        <select class="form-select" aria-label="Default select example">
          <option selected>Open this select menu</option>
          <option value="1">One</option>
          <option value="2">Two</option>
          <option value="3">Three</option>
        </select>
        <br>
        <button type="button" class="btn btn-primary">Primary</button>
      </div>
      <br>
      <div class="container">
        <select class="form-select" aria-label="Default select example">
          <option selected>Open this select menu</option>
          <option value="1">One</option>
          <option value="2">Two</option>
          <option value="3">Three</option>
        </select>
        <br>
        <button type="button" class="btn btn-primary">Primary</button>
      </div>


    </div>


    <div class="col-md-6 right">

      <textarea rows="32" cols="87">

      </textarea>


    </div>

  </div>
</div>
